データフレームの作成

In [1]:
import pandas as pd

data = [[0, 1, 2], [3, 4, 5]]
df = pd.DataFrame(data)
df

   0  1  2
0  0  1  2
1  3  4  5

0の出現回数が最も多い行・列を取得する

In [2]:
import pandas as pd
from icecream import ic

data = [
    [3, 1, 2, 3, 4, 5],
    [3, 1, 0, 0, 7, 9],
    [3, 0, 0, 0, 3, 3],
    [3, 1, 0, 3, 3, 3],
    [3, 1, 2, 3, 3, 3],
]

df = pd.DataFrame(data)

row_0 = (df == 0).sum(axis=1)
ic(row_0)
ic(row_0.max())
ic(row_0.idxmax())

ic| row_0: 0    0
           1    2
           2    3
           3    1
           4    0
           dtype: int64
ic| row_0.max(): 3
ic| row_0.idxmax(): 2

2

データフレームを１行ずつ取り出す

In [3]:
import pandas as pd
from icecream import ic

data = [
    [3, 1, 2, 3, 4, 5],
    [3, 1, 0, 0, 7, 9],
    [3, 0, 0, 0, 3, 3],
    [3, 1, 0, 3, 3, 3],
    [3, 1, 2, 3, 3, 3],
]

df = pd.DataFrame(data)

for index, row in df.iterrows():
    ic(index, row)

ic| index: 0
    row: 0    3
         1    1
         2    2
         3    3
         4    4
         5    5
         Name: 0, dtype: int64
ic| index: 1
    row: 0    3
         1    1
         2    0
         3    0
         4    7
         5    9
         Name: 1, dtype: int64
ic| index: 2
    row: 0    3
         1    0
         2    0
         3    0
         4    3
         5    3
         Name: 2, dtype: int64
ic| index: 3
    row: 0    3
         1    1
         2    0
         3    3
         4    3
         5    3
         Name: 3, dtype: int64
ic| index: 4
    row: 0    3
         1    1
         2    2
         3    3
         4    3
         5    3
         Name: 4, dtype: int64

データフレームを１列ずつ取り出す

In [4]:
for index, column in df.iteritems():
    ic(index, column)

ic| index: 0
    column: 0    3
            1    3
            2    3
            3    3
            4    3
            Name: 0, dtype: int64
ic| index: 1
    column: 0    1
            1    1
            2    0
            3    1
            4    1
            Name: 1, dtype: int64
ic| index: 2
    column: 0    2
            1    0
            2    0
            3    0
            4    2
            Name: 2, dtype: int64
ic| index: 3
    column: 0    3
            1    0
            2    0
            3    3
            4    3
            Name: 3, dtype: int64
ic| index: 4
    column: 0    4
            1    7
            2    3
            3    3
            4    3
            Name: 4, dtype: int64
ic| index: 5
    column: 0    5
            1    9
            2    3
            3    3
            4    3
            Name: 5, dtype: int64

In [5]:
import pandas as pd
from icecream import ic

data = [
    [3, 1, 2, 3, 4, 5],
    [3, 1, 0, 0, 7, 9],
    [3, 0, 0, 0, 3, 3],
    [3, 1, 0, 3, 3, 3],
    [3, 1, 2, 3, 3, 3],
]

df = pd.DataFrame(data)

In [6]:
df

   0  1  2  3  4  5
0  3  1  2  3  4  5
1  3  1  0  0  7  9
2  3  0  0  0  3  3
3  3  1  0  3  3  3
4  3  1  2  3  3  3

In [7]:
df[2]

0    2
1    0
2    0
3    0
4    2
Name: 2, dtype: int64

In [8]:
df[2:3]

   0  1  2  3  4  5
2  3  0  0  0  3  3

In [9]:
data = [
    [5, 3, 3, 3, 3, 3, 3, 3, 3],
    [4, 3, 3, 3, 3, 3, 3, 3, 3],
    [3, 3, 3, 3, 0, 0, 3, 3, 3],
    [2, 3, 3, 0, 0, 0, 0, 3, 3],
    [1, 3, 3, 3, 0, 0, 3, 3, 3],
    [0, 3, 3, 3, 3, 3, 3, 3, 3],
]

df = pd.DataFrame(data)
df.set_index(0, inplace=True)

In [10]:
df[2:3]

   1  2  3  4  5  6  7  8
0
3  3  3  3  0  0  3  3  3

In [11]:
df

   1  2  3  4  5  6  7  8
0
5  3  3  3  3  3  3  3  3
4  3  3  3  3  3  3  3  3
3  3  3  3  0  0  3  3  3
2  3  3  0  0  0  0  3  3
1  3  3  3  0  0  3  3  3
0  3  3  3  3  3  3  3  3

In [12]:
for index, row in df[1:3].iterrows():
    ic(index, row)

ic| index: 4
    row: 1    3
         2    3
         3    3
         4    3
         5    3
         6    3
         7    3
         8    3
         Name: 4, dtype: int64
ic| index: 3
    row: 1    3
         2    3
         3    3
         4    0
         5    0
         6    3
         7    3
         8    3
         Name: 3, dtype: int64

In [13]:
for index, row in df.iloc[1:3, 3:7].iterrows():
    ic(index, row)

ic| index: 4
    row: 4    3
         5    3
         6    3
         7    3
         Name: 4, dtype: int64
ic| index: 3
    row: 4    0
         5    0
         6    3
         7    3
         Name: 3, dtype: int64

In [14]:
lst = [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
len(lst) * 0.25

4.0

In [16]:
lst[int(len(lst) * 0.25) : int(len(lst) * 0.75)]

[-1, 0, 1, 2, 3, 4, 5, 6]

In [17]:
df

   1  2  3  4  5  6  7  8
0
5  3  3  3  3  3  3  3  3
4  3  3  3  3  3  3  3  3
3  3  3  3  0  0  3  3  3
2  3  3  0  0  0  0  3  3
1  3  3  3  0  0  3  3  3
0  3  3  3  3  3  3  3  3

In [51]:
df1 = df[4]  # 4列目

In [52]:
df2 = df.loc[4:2, 4:4]

In [53]:
type(df1)

pandas.core.series.Series

In [54]:
type(df2)

pandas.core.frame.DataFrame

In [55]:
type(df2.iloc[:, 0])

pandas.core.series.Series

In [63]:
df.iloc[3]

1    3
2    3
3    0
4    0
5    0
6    0
7    3
8    3
Name: 2, dtype: int64

In [72]:
df3 = df.iloc[3, 3:5]

In [73]:
df3

4    0
5    0
Name: 2, dtype: int64

In [67]:
type(df3)

pandas.core.series.Series

In [74]:
df

   1  2  3  4  5  6  7  8
0
5  3  3  3  3  3  3  3  3
4  3  3  3  3  3  3  3  3
3  3  3  3  0  0  3  3  3
2  3  3  0  0  0  0  3  3
1  3  3  3  0  0  3  3  3
0  3  3  3  3  3  3  3  3

In [75]:
df.iloc[3]

1    3
2    3
3    0
4    0
5    0
6    0
7    3
8    3
Name: 2, dtype: int64

In [79]:
df.iloc[0, 2:4]

3    3
4    3
Name: 5, dtype: int64

In [127]:
data = [
    [5, 3, 3, 3, 3, 3, 3, 3, 3],
    [4, 3, 3, 3, 3, 3, 3, 3, 3],
    [3, 3, 3, 3, 0, 0, 3, 3, 3],
    [2, 5, 3, 0, 0, 0, 0, 3, 3],
    [1, 4, 3, 3, 0, 0, 3, 3, 3],
    [0, 3, 3, 3, 3, 3, 3, 3, 3],
]

df = pd.DataFrame(data)
df.set_index(0, inplace=True)

In [128]:
df

   1  2  3  4  5  6  7  8
0
5  3  3  3  3  3  3  3  3
4  3  3  3  3  3  3  3  3
3  3  3  3  0  0  3  3  3
2  5  3  0  0  0  0  3  3
1  4  3  3  0  0  3  3  3
0  3  3  3  3  3  3  3  3

In [129]:
df.iloc[1:3, 0]

0
4    3
3    3
Name: 1, dtype: int64

In [130]:
# iloc[:,:]左側は行、右側は列

In [131]:
df = df.iloc[3:5, 2]

In [132]:
df

0
2    0
1    3
Name: 3, dtype: int64

In [133]:
for index, val in df.iteritems():
    ic(index, val)

ic| index: 2, val: 0
ic| index: 1, val: 3

In [139]:
data = [
    [5, 3, 3, 3, 3, 3, 3, 3, 3],
    [4, 3, 3, 3, 3, 3, 3, 3, 3],
    [3, 3, 3, 3, 0, 0, 3, 3, 3],
    [2, 5, 3, 0, 0, 0, 0, 3, 3],
    [1, 4, 3, 3, 0, 0, 3, 3, 3],
    [0, 3, 3, 3, 3, 3, 3, 3, 3],
]

df = pd.DataFrame(data)
df.set_index(0, inplace=True)
type(df.iloc[2:4, 3])

pandas.core.series.Series

In [140]:
data = [
    [5, 3, 3, 3, 3, 3, 3, 3, 3],
    [4, 3, 3, 3, 3, 3, 3, 3, 3],
    [3, 3, 3, 3, 0, 0, 3, 3, 3],
    [2, 5, 3, 0, 0, 0, 0, 3, 3],
    [1, 4, 3, 3, 0, 0, 3, 3, 3],
    [0, 3, 3, 3, 3, 3, 3, 3, 3],
]

df = pd.DataFrame(data)
df.set_index(0, inplace=True)

type(df[3])

pandas.core.series.Series

In [141]:
df[3]

0
5    3
4    3
3    3
2    0
1    3
0    3
Name: 3, dtype: int64

In [15]:
df.iloc[0:6, 2]

0
 3    3
 2    3
 1    3
 0    3
-1    3
-2    3
Name: 1, dtype: int64

iloc

In [2]:
import pandas as pd

data = [
    [3, 3, 3, 3, 3, 3, 3, 3, 3],
    [2, 3, 3, 3, 3, 0, 3, 3, 3],
    [1, 3, 3, 3, 0, 0, 0, 3, 3],
    [0, 3, 3, 3, 3, 0, 3, 3, 3],
    [-1, 3, 3, 3, 3, 3, 3, 3, 3],
    [-2, 3, 3, 3, 3, 3, 3, 3, 3],
]
# fmt: on

df = pd.DataFrame(data)
df.set_index(0, inplace=True)
df.set_axis([-1, 0, 1, 2, 3, 4, 5, 6], axis=1, inplace=True)

In [13]:
df.iloc[0:6, 0:8]

    -1   0   1   2   3   4   5   6
0
 3   3   3   3   3   3   3   3   3
 2   3   3   3   3   0   3   3   3
 1   3   3   3   0   0   0   3   3
 0   3   3   3   3   0   3   3   3
-1   3   3   3   3   3   3   3   3
-2   3   3   3   3   3   3   3   3

エクセルファイルに書き出し

In [26]:
import pandas as pd
from icecream import ic

data = [
    [3, 3, 3, 3, 3, 3, 3, 3, 3],
    [2, 3, 3, 3, 3, 0, 3, 3, 3],
    [1, 3, 3, 3, 0, 0, 0, 3, 3],
    [0, 3, 3, 3, 3, 0, 3, 3, 3],
    [-1, 3, 3, 3, 3, 3, 3, 3, 3],
    [-2, 3, 3, 3, 3, 3, 3, 3, 3],
]
# fmt: on

df = pd.DataFrame(data)
df.set_index(0, inplace=True)

In [19]:
from icecream import ic

data = [1, 2, 3, 4, 5, 6, 7]
max_data_length = 3

x = 0
y = 0
for i in range(0, len(data), max_data_length):
    x = i
    y = i + 3
    ic(x)
    ic(y)
    ic(data[x:y])

ic| x: 0
ic| y: 3
ic| data[x:y]: [1, 2, 3]
ic| x: 3
ic| y: 6
ic| data[x:y]: [4, 5, 6]
ic| x: 6
ic| y: 9
ic| data[x:y]: [7]

In [41]:
import pandas as pd
from icecream import ic

input_file = "./sample_in_data/pandas/pandas_in.csv"
df = pd.read_csv(input_file)
max_data_length = 16300

with pd.ExcelWriter(input_file.replace("csv", "xlsx").replace("in", "out")) as writer:
    for i in range(0, len(df.columns), max_data_length):
        x = i
        y = i + max_data_length
        if (y - x) > len(df.iloc[:, x:y].columns):
            y = i + len(df.iloc[:, x:y].columns)
        df.iloc[:, x:y].to_excel(
            writer, sheet_name=str(x) + "_" + str(y), index=False, header=False
        )